.awesome {

    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
    align-items: center;
}

.skulls {
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-top: 1rem;

    /* scroll */

    align-items: center;
}



/* left side */
.w-left {

    left: -12rem;
    position: relative;
    width: 18rem;
    height: 18rem;

}



/* right side */
.w-right {
    position: relative;
    justify-content: space-between;
}

.w-mainCircle {
    left: 18rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top: -2rem;
    background: white;
    /* darkMode */
    z-index: 2;
}

.w-mainCircle>* {
    position: absolute;
}

.w-mainCircle> :nth-child(1) {
    top: -3rem;
    left: 6rem;
}

.w-mainCircle> :nth-child(2) {
    left: -3rem;
    top: 5rem;
}

.w-mainCircle> :nth-child(3) {
    left: 6rem;
    top: 5rem;
}

.w-mainCircle> :nth-child(4) {
    left: 15rem;
    top: 5rem;
}

.w-mainCircle> :nth-child(5) {
    left: 6rem;
    top: 13rem;
}

.w-secCircle {
    width: 6rem;
    height: 6rem;
    position: absolute;
    border-radius: 100%;
    border: 5px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    background: "none";
    box-shadow: var(--smboxShadow);
    background: white;
}

.w-secCircle>img {
    transform: scale(0.6);
}

.w-backCircle {
    position: absolute;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    /* darkMode */
    z-index: 1;
}

.blueCircle {
    background: #1949b8;
    left: 26rem;
    top: -4rem;
}

.yellowCircle {
    background: #f5c32c;
    left: 26rem;
    top: 4rem;
}